.row {
	/*display:flex;*/
	/*flex-direction:row;*/
}

#button-container {
	width:80%;
	margin:0 auto;
}
#logo-container {
	position:relative;
	top: 70%;
	left: 15%;
	margin:0 auto;
	/*height: 150px;*/
	/*border: 1px solid red;*/
	/*overflow:hidden;*/
}

h3 {
	padding: 20px 50px;
}

.logo {
	width: 20%;
	margin: 2%;
	position:absolute;
	top:0px;
	left:0px;
}
