.row {
}

#button-container {
	width:80%;
	margin:0 auto;
}
#logo-container {
	position:relative;
	width:70%;
	margin:0 auto;
}

h3 {
	padding: 20px 50px;
}

.logo {
	width: calc(100vh/5);
	position:absolute;
	top:0px;
	left:0px;
}
